body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container-login {
    width: 2200px;
    margin: 0 auto;
    padding: 2px;
    background-color: #919191;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 195, 255, 0.3);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #14a3a3;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

